# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# ---- Environment ----
env/
venv/
.venv/
*.egg-info/
*.egg
.env

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Logs ----
logs/
runs/
*.log

# ---- PyTorch ----
checkpoints/
*.pt
*.pth

# ---- Cache ----
.cache/

